* {
  color: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  padding: 0;
  margin: 0;
}

.container-load {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container-movies {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16em;
  border: 2px solid white;
  border-radius: 1em;
  margin: 1em;
  overflow: hidden;
}

.poster {
  height: 20em;
  width: 100%;
  cursor: pointer;
}

.movie h1 {
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0;
}

.movie span {
  margin: 0.25em 0;
}

.movie h1,
.movie span {
  padding: 0 1em;
}

.movie-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0;
}

.edit-movie,
.delete-movie,
.more-info {
  display: inline;
  color: white;
  border: 1px solid white;
  height: 2em;
  width: 100%;
  cursor: pointer;
}

.more-info {
  background-color: green;
}

.edit-movie {
  background-color: blue;
}

.delete-movie {
  background-color: red;
}

input,
select {
  padding: 0.25em 1em;
}

*::placeholder {
  color: gray;
}

/* modals */

.container-add,
.container-add * {
  color: black;
  background-color: white;
}

.container-add {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-add input {
  border: 1px solid black;
  width: 100%;
  margin: 0 0 1em 0;
}

.container-add #submit-movie {
  display: none;
}

/* modal design not content */
.modal-header {
  background-color: white !important;
}

.btn-close {
  border: 1px solid black;
  transition: 200ms ease-in-out;
}

.btn-close:hover {
  background-color: red;
  fill: white !important;
}

.modal-header h5 {
  color: black;
  background-color: white;
}

.modal-body {
  color: black;
  background-color: white;
}

.modal-footer {
  color: black;
  background-color: white;
}
