* {
  background-color: #000;
  color: white;
  font-family: sans-serif;
}

body {
  width: 100vw;
}

.container-load {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-movies {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.movie {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.movie h1 {
  font-size: 1em;
}

input,
select {
  border: 1px solid white;
  padding: 0.25em 1em;
}
